asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
crispy-bootstrap4==2026.2
Django==6.0.6
django-admin-honeypot-updated-2021==1.2.0
django-appconf==1.2.0
django-cors-headers==4.9.0
django-crispy-forms==2.6
django-environ==0.14.0
django-imagekit==6.1.0
django-ipware==7.0.1
djangorestframework==3.17.1
idna==3.18
pilkit==3.0
pillow==12.2.0
psycopg2==2.9.12
psycopg2-binary==2.9.12
python-ipware==3.0.0
requests==2.34.2
sqlparse==0.5.5
urllib3==2.7.0
