{% extends "dashboard.html" %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    {{ form }}
    
    <hr class="mt-4">
    <h5 class="mb-3">Additional Images:</h5>
    
    {{ formset.management_form }}
    {% for image_form in formset %}
        <div class="border rounded p-3 mb-2">
            <div class="mb-2">
                <label class="form-label">Image {{ forloop.counter }}</label>
                {{ image_form.image }}
            </div>
            <div>
                <label class="form-label">Order</label>
                {{ image_form.order }}
            </div>
        </div>
    {% endfor %}

    <div class="form-group">
        <button class="btn btn-primary mt-3 w-100" type="submit">Submit</button>
    </div>
</form>

{% endblock %}